<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcam Feed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>
  <body>
    <h1>Webcam Feed</h1>
    <img id="video_feed" src="{{ url_for('video_feed')}}" />
    <h2>Reps: <span id="counter">0</span></h2>

    <script>
      var socket = io();

      socket.on("update_counter", function (data) {
        document.getElementById("counter").innerText = data.counter;
      });
    </script>
  </body>
</html>
